<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .text-center{
            margin-top: 100px;
            font-size: large;
            font-weight: bold;
            color:red;
        }

        .picture{
            height:200px;
            width: 300px;
        }

    </style>

</head>
<body>
<div class="container">
    <div class="text-center">
        <img class="picture" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1531370047631&di=56be9fe3840a579d9052f5e55c26c93e&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2Fb3b7d0a20cf431adebe131044036acaf2edd98df.jpg" alt="">
       <p></p>
        <button><a href="/index/">返回网站首页</a></button>
    </div>
</div>

</body>
</html>